In [3]:
#import dependencies
import pandas as pd
import numpy as np
import os
import csv

csv_path = os.path.join("Resources", "purchase_data.csv")
purchase_data = pd.read_csv(csv_path, encoding = "ISO-8859-1")
purchase_df = pd.DataFrame(purchase_data)

In [4]:
purchase_df.head()

#access the values in a row using dot notation
#purchase_df.iloc[x].SN

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
#locate last row
#total_players = purchase_df.iloc[-1]
#purchase_df["SN"] = purchase_df.iloc[:, 1:].sum(axis=1)
#total_players = sum(purchase_df["SN"])

#length of uniquie value counts
total_players = len(purchase_df["SN"].value_counts())
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

In [6]:
#of unique items
unique_items = len(purchase_df["Item Name"].value_counts())

#average price
average_price = round(purchase_df["Price"].mean(), 2)

#of purchases
number_of_purchases = purchase_df["Purchase ID"].count()
#total revenue
total_revenue = purchase_df["Price"].sum()

purchase_analysis_totals_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                                           "Average Price": [average_price],
                                           "Number of Purchases": [number_of_purchases],
                                           "Total Revenue": ["${0:,.2f}".format(total_revenue)]})
purchase_analysis_totals_df

   Number of Unique Items  Average Price  Number of Purchases Total Revenue
0                     179           3.05                  780     $2,379.77

In [82]:


#total_gender_df = purchase_df.groupby(["Gender"]).value_counts()["SN"]
#total_gender_df
#male_count = purchase_df["Gender"].count()
female_count = purchase_df.loc[purchase_df["Gender"] == "Female"]
female_count = female_count["SN"].value_counts()

male_count = purchase_df.loc[purchase_df["Gender"] == "Male"]
male_count = male_count["SN"].value_counts()
#other_count = total_gender - male_count - female_count

other_count = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed"]
other_count = other_count["SN"].value_counts()

female_count = len(female_count)
male_count = len(male_count)
other_count = len(other_count)
total_count = (male_count + female_count + other_count)

demo_df = {"Total Count": [male_count, female_count, other_count],
           "Percentage of Players": [male_count / total_count, female_count / total_count, other_count / total_count]}
demo_df = pd.DataFrame(demo_df, columns=["Total Count","Percentage of Players"])
demo_df

   Total Count  Percentage of Players
0          484               0.840278
1           81               0.140625
2           11               0.019097

In [36]:
#male_count = purchase_df.loc[purchase_df["Gender"] =="Male"]

total_gender = purchase_df.groupby(["Gender"]).count()
total_count_df = purchase_df.groupby(["Gender"]).count()["Price"]
avg_gender_price_df = purchase_df.groupby(["Gender"]).mean()["Price"]
total_gender_price_df = purchase_df.groupby(["Gender"]).sum()["Price"]
avg_per_person_df = total_count_df / total_gender * avg_gender_price_df


merge_table = pd.merge(total_count_df, avg_gender_price_df, on="Gender")
merge_table_2 = pd.merge(merge_table, total_gender_price_df, on="Gender")
#merge_table_3 = pd.merge(merge_table_2, avg_per_person_df, on="Gender")
merge_table_2

#total_gender / total_revenue
#total_avg_price_df = purchase_df["Price"].mean()


#male_avg_price_df = male_count / male_count

                       Price_x   Price_y    Price
Gender
Female                     113  3.203009   361.94
Male                       652  3.017853  1967.64
Other / Non-Disclosed       15  3.346000    50.19